<form>
    <div class="form-check">
        <label class="form-check-label">In</label>
        <input class="form-check-input" type='radio' name='fade_in_out' value="in"></input>
        <label class="form-check-label">Out</label>
        <input class="form-check-input" type='radio' name='fade_in_out' value="out"></input>
    </div>
</form>