<div class="rhm gm-controls">
    <div class="rhm col" data-action="skillRoll">
        <img src="modules/{{moduleId}}/artwork/dice.png" width="50" height="50" title="{{localize 'acorip.features.token.skill-roll-request'}}">
    </div>
</div>