<div class="rhm control-buttons">
    <div class="rhm col" data-action="requestRoll">
        <img src="modules/{{moduleId}}/artwork/dice.png" width="50" height="50" title="{{localize 'acorip.labels.request-player-roll'}}">
    </div>
</div>