<div class="rhm custom-token-buttons">
    {{#if netrunner}}
    <div class="rhm col" data-action="netrunning">
        <img src="modules/{{moduleId}}/artwork/jack-inout.png" width="50" height="50" title="{{localize 'acorip.features.token.jack-in-out'}}">
    </div>
    {{/if}}
    <div class="rhm col" data-action="toggle-image">
        <img src="modules/{{moduleId}}/artwork/token_toggle_image.png" width="50" height="50" title="{{localize 'acorip.features.token.toggle-image'}}">
    </div>
</div>