<div class="rhm tooltip hide">
    <div class="rhm tag-header">
        <label for="" class="rhm header-label active">{{skillName}}</label>
    </div>
    <p class="rhm skill-tooltip">{{skillDescription}}</p>
</div>