<form>
    <div class="form-group">
        <label>Escolha a instância desejada</label>
        <select name="token_instance">
            <option value="_">Amigável</option>
            <option value="_alt_">Amigável (Alternativo)</option>
            <option value="_combat_rifle_">Combate (Rifle)</option>
            <option value="_combat_shotgun_">Combate (Shotgun)</option>
            <option value="_combat_pistol_">Combate (Pistol)</option>
            <option value="_combat_smg_">Combate (SMG)</option>
        </select>
    </div>
</form>