<div class="control-icon" id="toggle_image_{{tokenId}}" data-action="toggle-image">
    <img src="modules/{{moduleId}}/artwork/token_toggle_image.png" width="36" height="36" title="{{localize 'acorip.features.token.toggle-image'}}">
</div>