<form>
    <div class="form-group">
        <label>{{localize 'acorip.labels.choose_stance'}}</label>
        <select name="token_stance">
            {{#each stances}}
            <option value="{{suffix}}">{{description}}</option>
            {{/each}}
        </select>
    </div>
</form>